.search {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.search__input {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: 0.3s;
}

.search__input:focus {
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
